body{
    margin: 0;
    font-family: arial, san-serif;
    font-size: 0.9em;

}

a{
    margin: 5px;
    text-decoration: none;
    color: black;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh; /*5vh = 5% of view height*/
}

h1{
    font-family: Product Sans;
    font-size: 5.5em;
}

